.navbar{
    height: 55px;
    margin: 0 auto;
    width: 70%;
}

#username{
    color: #FFFFFF;
}

.jumbotron{
    border-radius: 0;
    padding: 0;
    background-image: linear-gradient(rgba(51, 0, 51, 0.92), rgba(125, 0, 185, 0.65)), url('https://images.unsplash.com/photo-1502386256291-491f4f6a2ae6?dpr=1&auto=format&fit=crop&w=1500&h=844&q=80&cs=tinysrgb&crop=');
}

.footer{
    width: 70%;
    margin: auto;
}

.content-center{
    padding: 40px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    text-shadow: 0 2px 15px rgba(0,0,0,0.8)
}

.lead{
    color: rgba(255, 255, 255, 0.7);
}

.lead:hover{
    color: rgba(255, 255, 255, 0.7);
}

.navbar-brand{
    color: #FFFFFF;
}

.navbar-brand:hover{
    color: rgba(255, 255, 255, 0.7);
}

.twitter{
    width: 100%;
}

form{
    width: 35%;
    margin: 20px auto;
}

h1{
    text-align: center
}

h3{
    text-align: center;
}

hr{
    width: 70%;
}

select{
    margin-bottom: 20px
}

#newpoll{
    width: 23%;
    margin-top: 10px
}

#newpoll:hover{
    color: black;
}

#space{
   margin-left: 23px;
}

#survey{
    margin: auto
}

.form-control{
    margin-top: 5px;
}

#delete-button{
    width: 100%;
}

#alert-box{
    text-align: center
}


#submit-button{
    margin-top: 20px;
    width: 38%;
}

#answer-form{
    width: 50%;
}

#answer-submit{
    width: 70%;
}